{
  "project_info": {
    "project_number": "SUBSTITUA_PELO_CONSOLE",
    "project_id": "seu-projeto-firebase",
    "storage_bucket": "seu-projeto-firebase.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:aaaaaaaaaaaaaaaaaaaaaaaa",
        "android_client_info": {
          "package_name": "com.corridometro"
        }
      },
      "oauth_client": [
        {
          "client_id": "SEU_WEB_CLIENT_ID.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "SUA_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    },
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:bbbbbbbbbbbbbbbbbbbbbbbb",
        "android_client_info": {
          "package_name": "com.corridometro.login"
        }
      },
      "oauth_client": [
        {
          "client_id": "SEU_WEB_CLIENT_ID.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "SUA_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
